@import '../node_modules/bootstrap/scss/functions';
@import './variables';
@import '../node_modules/bootstrap/scss/mixins';

@import "../node_modules/bootstrap/scss/bootstrap";

@import "./utilities/shadow";
@import "./utilities/hover";
@import "./utilities/white_space";

body {
  font-family: "Nunito", "Noto Sans TC", sans-serif;
}

main{
  padding-top: 76px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: tint-color($primary, 40%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: tint-color($success, 40%);
}
