// Base settings for all themes that can optionally be
// overridden by the super-theme

$primary:       #425D8A !default;
$secondary:     #55A3B0 !default;
$success:       #28A745 !default;
$info:          #A78D6C !default;
$warning:       #FFC107 !default;
$danger:        #DC3545 !default;
$light:         #B4BDC7 !default;
$dark:          #134358 !default;

// Background of the presentation
$backgroundColor: $light;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 28px;
$mainColor: $dark;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Nunito", "Noto Sans TC", sans-serif;;
$headingColor: $dark;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.2em;
$heading2Size: 1.2em;
$heading3Size: 1.0em;
$heading4Size: 1.0em;

$codeFont: monospace;

// Links and actions
$linkColor: $primary;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $primary;
$selectionColor: $light;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

