.reveal h1 {
  padding: 50px 0;
  margin-bottom: 50px;
  text-align: start;
  border-bottom: 2px solid $primary;
}
.reveal h2, {
  text-align: start;
  border-bottom: 2px solid $primary;
}
.reveal p {
  text-align: start;
}
.reveal ul {
  display: block;
  margin-left: 0px;
}
.reveal ol {
  display: block;
  margin-left: 0px;
}
